<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">


    <!--项目启动时默认加载的页面-->
    
    <welcome-file-list>
        <welcome-file>/welcome.jsp</welcome-file>    <!--默认打开的页面-->
        <welcome-file>/index.jsp</welcome-file>      <!--找不到就跳转到下面-->
    </welcome-file-list>

</web-app>
